{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}

        <form method="post" action="{{ path('app_login') }}" style="width: 50%">
        <!-- <input type="hidden" name="login" value="true" /> -->

    {% for message in app.flashes('message_error') %}
        <div class="errorMessage">{{ message }}</div>
    {% else %}
        {% if error %}
        <div class="errorMessage">Error: {{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    {% endfor %}

            <ul>
                <li>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Your username" required autofocus maxlength="190" />
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" placeholder="Your password" required maxlength="255" />
                </li>
            </ul>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="buttons">
                <input type="submit" name="login" value="Войти" />
            </div>

        </form>
{% endblock %}
