<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
        <!--<link rel="shortcut icon" type="image/svg+xml" href="{{ asset('images/favicon.svg') }}">-->
    </head>

    <body class="bg-info">
        <div id="container" class="container bg-white my-3 rounded">
            <a href="{{ path('app_homepage') }}">
                <img id="logo" class="mt-4" src="{{ asset('images/logo.jpg') }}" alt="Widget News" />
            </a>

            {% block adminpanel %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
                {{ include('_footer.html.twig') }}
            {% endblock %}

        </div><!--'end_container'-->
    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/showContent.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/loaderIdentity.js') }}"></script>
    {% endblock %}
    </body>
</html>
